{% extends "::base.html.twig" %} 
{% block content %}


<div class="title"><h5>Wystąpił problem podczas wczytywania strony...</h5></div>

<blockquote>
    <h2>Err... Egrrrr.. Wrrrr! Error {{ status_code }} - Nie znaleziono strony lub strona nie istnieje!</h2><br/>
    <span>Nie wpadaj w panikę! Nie wszystko stracone. Poszukaj czego szukasz przy użyciu menu dostępnego po lewej stronie.</span><br/>
</blockquote>


{% endblock %}
