{% extends "::base.html.twig" %} 
{% block content %}


<div class="title"><h5>Aktualności</h5></div>

<div class="widget">       
    <ul class="tabs">
        <li class="activeTab"><a href="#tab1">Ostatnie aktualności</a></li>
        <li class=""><a href="#tab2">Bankier.pl</a></li>
    </ul>

    <div class="tab_container">
        <div id="tab1" class="tab_content" style="display: block; ">
        {% for entity in entities %}
            <h2>{{ entity.tytul }}</h2>
            <p>{{ entity.zawartosc }}</p></br>
        {% endfor %}
        
        </div>
        <div id="tab2" class="tab_content" style="display: none; ">
        
        
        </div>
    </div>	
    <div class="fix"></div>		 
</div>

{% endblock %}
